body {
  background: linear-gradient(135deg, #a8edea, #fed6e3);
  background-attachment: fixed;
  font-family: "Saira";
}

li {
  transition: transform 0.3s ease;
}

li:hover {
  transform: scale(1.05);
}

.edit-button{
  background: white;
  color: slategray;
}

.serch-button{
  transition: transform 0.3s ease;
}

.serch-button:hover{
  transform: scale(1.05);
}
